@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/*
 *  RESET
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #aaa;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 *  STYLES
 */
html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: Manrope, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 500;
	color: #222222;
}

header {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	background-color: #ffffff;
	border-bottom: 1px solid rgb(212, 218, 223);
	box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
	height: 5rem;
	justify-content: flex-start;
	align-items: center;
	padding: 0 2rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

nav {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	font-size: 1.3rem;
}

nav .title {
	font-weight: bold;
	padding: 0.5rem 0;
	font-size: 2rem;
}

nav > ul {
	display: flex;
	flex-direction: row;
}

nav > ul > li {
	margin-right: 1rem;
}

main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 5rem;
}

#content {
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	height: 100%;
	z-index: 0;
}

section {
	flex: 1;
	overflow: auto;
	background-color: rgb(240, 242, 244);
}

aside {
	min-width: 15%;
	max-width: 25%;
	background-color: rgb(245, 247, 249);
	border-right: 1px solid rgb(230, 236, 241);
	padding: 1rem 2rem;
	overflow: auto;
}

aside > ul {
	width: 100%;
}

aside > div > a.link {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.1rem;
}

aside > ul > li > a.link {
	font-weight: bold;
}

aside > ul > ul > li {
	margin: 0.5rem 0 0.5rem 2.5rem;
	font-size: 1rem;
	list-style: disc;
}

aside > ul > ul > li code {
	font-size: 1rem;
}

button,
.button,
aside .link {
	display: block;
	padding: 1rem;
	border-radius: 0.3rem;
	transition: all 0.3s;
}

button:hover,
.button:hover,
aside .link:hover {
	background-color: rgba(246, 119, 2, 0.1764706);
}

code {
	font-family: monospace;
	font-size: 110%;
}

a {
	text-decoration: none;
	transition: color 0.3s;
	color: #222222;
}

a:hover,
a:hover > span,
aside .link.active {
	color: rgb(246, 119, 2);
}

.logo {
	width: auto;
	height: 3rem;
}

span.light {
	color: #bdbdbd;
	font-weight: 500;
	transition: color 0.3s;
}

hr.divider {
	height: 3rem;
	margin: 0;
	border: 0;
	border-left: 1px solid rgb(230, 236, 241);
}

/*
 *  COMPONENTS
 */
.fn-block {
	background-color: white;
	margin: 1rem;
	padding: 2rem;
	border-radius: 0.3rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1rem 1rem -1rem;
}

.fn-block.private {
	background-color: #eef;
}

.fn-definition {
	margin-bottom: 1.5rem;
}

.fn-definition > code {
	font-size: 1.5rem;
	border: 0;
	background-color: transparent !important;
	padding: 0.5rem 0;
}

.menu-header {
	text-transform: uppercase;
	margin: 1.5rem 0;
	color: #aaaaaa;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
}

/*
 *  MARKDOWN
 */
section > div.md {
	padding: 2rem;
	background-color: white;
	box-sizing: border-box;
	min-height: 100%;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
	font-weight: 800;
	margin-bottom: 1.5rem;
}

.md h1 {
	font-size: 1.75rem;
}

.md h2 {
	font-size: 1.5rem;
}

.md h3 {
	font-size: 1.25rem;
}

.md h4 {
	font-size: 1rem;
}

.md h5 {
	font-size: 0.75rem;
}

.md h6 {
	font-size: 0.5rem;
}

.fn-description.md h1 {
	font-size: 1.3rem;
	color: #777;
}

.fn-description.md h2 {
	font-size: 1.2rem;
	color: #777;
}

.fn-description.md h3 {
	font-size: 1.1rem;
	color: #777;
}

.fn-description.md h4 {
	font-size: 1rem;
	color: #777;
}

.fn-description.md h5 {
	font-size: 0.9rem;
}

.fn-description.md h6 {
	font-size: 0.8rem;
}

.fn-description.md hr {
	border: dotted 0.05rem #777;
}

.md pre > code {
	font-family: monospace;
	font-size: 100%;
	background-color: rgb(245, 247, 249) !important;
	border: 0.1rem solid rgb(212, 218, 223);
	margin-bottom: 1.5rem;
}

.md pre {
	margin-bottom: 1.5rem;
}

.md p {
	margin-bottom: 1.5rem;
	line-height: 1.5;
}

.md em {
	font-style: italic;
}

.md strong {
	font-weight: 800;
}

.md ul,
.md ol {
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}

.md ul {
	list-style: disc outside;
}

.md ol {
	list-style: decimal outside;
}

.md li {
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
}

.md pre > code {
	display: block;
	line-height: 1.5;
	padding: 0.5rem;
}

.md blockquote {
	background-color: rgb(245, 247, 249) !important;
	border-left: 0.3rem solid rgb(212, 218, 223);
	padding: 0.5rem 0.6rem;
	margin-bottom: 1.5rem;
}

.md blockquote > p {
	margin-bottom: 0;
}

.md table td,
.md table th {
	padding: 0.2rem 0.5rem;
}

.md table td:first-child,
.md table th:first-child {
	padding-left: 0.3rem;
}

.md table td:last-child,
.md table th:last-child {
	padding-right: 0.3rem;
}

.md table thead {
	font-weight: bold;
	border-top: solid 0.15rem black;
	border-bottom: solid 0.1rem black;
}


.md table thead tr {
	line-height: 1.5rem;
}

.md table tbody tr {
	line-height: 1.5rem;
	border-bottom: solid 0.1rem rgb(212, 218, 223);
}

.md table tbody tr:last-child {
	line-height: 1.5rem;
	border-bottom: solid 0.15rem black;
}