html, body, .root-grid {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
    display: flex;
    flex-direction: row;
    
    padding: 10px;

    border: 1px black;

    grid-column: 1;
    grid-row: 1;
    height: 100vh;
}

.sidebar-panel {
  border: 2px solid #ccc;
  background-color: #eee;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 92%;
  height: 48%;
  margin: auto;
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  display: flex; /* Use flexbox to make the child div take up full height */
  flex-direction: column; /* Stack children vertically */  
}

.viz-grid {
  display: grid; /* Use CSS Grid to layout the child divs */
  grid-template-rows: 1fr 10px 1fr; /* Top row, resizable middle row, bottom row */
  overflow: hidden; /* Prevents scrollbars from affecting the layout */

  grid-column: 3 / 4;
  grid-row: 1;
  height: 100vh;
}

.root-grid {
  display: grid; 
  overflow: hidden;
}

.root-sidebar-open {
  grid-template-columns: 1fr 10px 4fr; 
}

.root-sidebar-closed {
  grid-template-columns: 0fr 0fr 1fr; 
}

/* .root-sidebar-closed > div.gutter-column { */
/*     display: none; */
/* } */


.path-viewer-column {
    display: flex;
    flex-direction: column;
}

.path-list-flex-item {
    margin: 2px;
    flex-basis: 20px;

    position: relative;
}

.path-name {
    font-family: monospace;
    overflow: hidden;
}

.path-data-canvas {
    overflow: hidden;
    /* width: 100%; */
    position: absolute;
}

#viz-container {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
}

#graph-viewer-container {
    grid-column: 1;
    grid-row: 1;
}

#graph-viewer-container > canvas {
    position: absolute;
}

#path-viewer-range-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* width: 100%; */
}

#path-viewer-range-input input {
    /* width: 100%; */
}


.path-list-header {
    position: sticky;
    z-index: 20;
}


#tooltip {
    display: none;
    width: max-content;

    position: absolute;
    top: 0;
    left: 0;
         
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;

    transition-property: left, top;
    transition-duration: 50ms;

    z-index: 100;
    pointer-events: none;
}




#path-viewer-container {
    grid-column: 1;
    grid-row: 3;

    /* overflow-x: clip; */
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 10px 5fr;
    z-index: 2;
}


/* Style for the gutters for visual distinction */
.gutter-row {
  z-index: 1;
  background: #eee; /* Just an example color for the gutters */
  cursor: row-resize; /* Indicates the row is resizable */
}

.gutter-row-1 {
    grid-column: 1;
    grid-row: 2;
}

.gutter-column {
  z-index: 1;
  background: #eee;
  cursor: col-resize; 
}

.gutter-column-1 {
    grid-column: 2;
}

/* If you want the content divs to be visible for testing */
/*
.viz-grid > div:not(.gutter-row) {
  background-color: #f8f8f8; 
  border: 1px solid #ccc; 
}
*/


/* from https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  /* border: 6px solid #fff; */
  border: 6px solid #333;
  /* border-color: #fff transparent #fff transparent; */
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.square-outline {
  width: 100%;
  /* Maintain square aspect ratio */
  border: 3px solid;
  /* Outline */
  padding: 10px;
  /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.full-width {
  width: 100%;
}