html, body, .root-grid {
  margin: 0;
  padding: 0;
  height: 100%; /* Fill the entire height of the viewport */
  width: 100%; /* Fill the entire width of the viewport */
}

.sidebar {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    grid-column: 1;
    grid-row: 1;
}

body {
  display: flex; /* Use flexbox to make the child div take up full height */
  flex-direction: column; /* Stack children vertically */
}

.viz-grid {
  display: grid; /* Use CSS Grid to layout the child divs */
  grid-template-rows: 1fr 10px 1fr; /* Top row, resizable middle row, bottom row */
  overflow: hidden; /* Prevents scrollbars from affecting the layout */

  grid-column: 3 / 4;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.root-grid {
  display: grid; 
  overflow: hidden;
}

.root-sidebar-open {
  grid-template-columns: 1fr 10px 4fr; 
}

.root-sidebar-closed {
  grid-template-columns: 0fr 0fr 1fr; 
}

/* .root-sidebar-closed > div.gutter-column { */
/*     display: none; */
/* } */


.path-viewer-column {
    display: flex;
    flex-direction: column;
}

.path-list-flex-item {
    margin: 2px;
    flex-basis: 20px;

    position: relative;
}

.path-name {
    font-family: monospace;
    overflow: hidden;
}

.path-data-canvas {
    overflow: hidden;
    position: absolute;
}

#viz-container {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
}

#graph-viewer-container {
    grid-column: 1;
    grid-row: 1;
}

#graph-viewer-container > canvas {
    position: absolute;
}

#path-viewer-range-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* width: 100%; */
}

#path-viewer-range-input input {
    /* width: 100%; */
}


#tooltip {
    display: none;
    width: max-content;

    position: absolute;
    top: 0;
    left: 0;
         
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;

    transition-property: left, top;
    transition-duration: 50ms;

    z-index: 100;
    pointer-events: none;
}




#path-viewer-container {
    grid-column: 1;
    grid-row: 3;

    overflow-x: clip;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 10px 5fr;
    z-index: 2;
}


/* Style for the gutters for visual distinction */
.gutter-row {
  z-index: 1;
  background: #eee; /* Just an example color for the gutters */
  cursor: row-resize; /* Indicates the row is resizable */
}

.gutter-row-1 {
    grid-column: 1;
    grid-row: 2;
}

.gutter-column {
  z-index: 1;
  background: #eee;
  cursor: col-resize; 
}

.gutter-column-1 {
    grid-column: 2;
}

/* If you want the content divs to be visible for testing */
.viz-grid > div:not(.gutter-row) {
  background-color: #f8f8f8; /* Light gray background for the content divs */
  border: 1px solid #ccc; /* Adds a border to the content divs */
}
